// baguetteBox

#baguetteBox-overlay {
	background-color: rgba(255, 255, 255, 100%) !important;
}

#previous-button,
#next-button {
	display: none;

	@media (min-width: $tablet-big) {
		display: block;
	}
}

.baguetteBox-button {
	background-color: $color-gray-dark !important;

	@media (min-width: $desktop) {
		&:not(:disabled):hover {
			background-color: $color-gray-dark !important;
		}
	}

	&:disabled {
		cursor: default;
		opacity: 0.2;
	}
}
