$burger-height: 2px;

.burger-btn {
	position: relative;
	width: 25px;
	height: 18px;
	color: $color-white;
	border: none;
	outline: none;
	background-color: transparent;
	z-index: 999;

	&::before,
	&::after {
		content: '';
	}

	&::before,
	&::after,
	&__label {
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		transition: 0.2s;
		background-color: $color-black;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	&.active {
		color: $color-black;
	}

	&__label {
		top: calc(50% - ($burger-height / 2));
	}

	&.active::before,
	&.active::after {
		top: calc(50% - ($burger-height / 2));
	}

	&.active::before {
		transform: rotate(45deg);
	}

	&.active::after {
		transform: rotate(-45deg);
	}

	&.active &__label {
		transform: rotate(45deg);
	}
}
