@use '../general/variables';

.hover-from-left {
	@media (min-width: variables.$desktop) {
		position: relative;
		transition: transform 0.2s ease;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: variables.$color-black;
			left: 0;
			bottom: -2px;
			transform: scaleX(0);
			transform-origin: left;
			transition: transform 0.25s ease;
		}

		&:not(.active):hover::before {
			transform: scaleX(1);
		}
	}
}

.hover-from-center {
	@media (min-width: variables.$desktop) {
		position: relative;
		transition: transform 0.2s ease;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: variables.$color-black;
			left: 0;
			bottom: -2px;
			transform: scaleX(0);
			transform-origin: center;
			transition: transform 0.25s ease;
		}

		&:not(.active):hover::before {
			transform: scaleX(1);
		}
	}
}

.hover-scale {
	@media (min-width: variables.$desktop) {
		cursor: pointer;

		&:hover {
			.hover-scale-img {
				transform: scale(1.03);
				transition: transform 0.5s ease;
			}
		}

		.hover-scale-img-wrapper {
			@media (min-width: variables.$desktop) {
				overflow: hidden;
			}
		}

		.hover-scale-img {
			@media (min-width: variables.$desktop) {
				will-change: transform;
				transition: transform 0.5s ease;
			}
		}
	}
}
