/* slide-up-from-bottom */
.slide-up-from-bottom-enter-active {
	will-change: transform, opacity;
	animation-name: fadeInFromBottom;
	animation-duration: 0.6s;
	animation-timing-function: ease;
}

@keyframes fadeInFromBottom {
	from {
		transform: translateY(3px);
		opacity: 0;
		visibility: hidden;
	}

	to {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}

/* slide-up */
.slide-up-enter-active {
	transition: all 0.25s ease-out;
}

.slide-up-enter {
	opacity: 0;
	transform: translateY(3px);
}

// TransitionGroup

/* 1. declare transition */
.fade-move,
.fade-enter-active,
.fade-leave-active {
	transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.fade-enter-from {
	opacity: 0;
	transform: scaleY(0.01) translate(30px, 0);
	transition:
		transform 0.4s ease-in-out,
		opacity 0.4s ease-in-out;
}

.fade-leave-to {
	opacity: 0;
	transform: scaleY(0.01) translate(30px, 0);
	transition:
		transform 0.4s ease-in-out,
		opacity 0.4s ease-in-out;
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.fade-leave-active {
	position: absolute;
}

/* bounce */
.bounce-enter-active {
	animation: bounce 0.2s;
}

.bounce-leave-active {
	animation: bounce 0.2s reverse;
}

@keyframes bounce {
	0% {
		transform: scale(0.9);
	}

	50% {
		transform: scale(1.15);
	}

	100% {
		transform: scale(1);
	}
}

/* bounce */
.bounce-in-enter-active {
	animation: bounce-in 0.3s;
}

@keyframes bounce-in {
	0% {
		opacity: 0.3;
		transform: translateY(-5px) scale(0.8);
	}

	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}
