@use 'variables';

html,
body {
	height: 100%;
	background-color: variables.$color-white;
	color: variables.$color-black;
	font-family: variables.$font;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.3;
}

.body-inner {
	display: flex;
	height: 100vh;
	flex-direction: column;

	@media (min-width: variables.$tablet-big) {
		height: calc(100vh + 1px);
	}
}

.main {
	margin-top: 68px;
	position: relative;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;

	@media (min-width: variables.$desktop) {
		margin-top: 82px;
	}
}

body.lock {
	position: fixed;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	margin: -1px;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	white-space: nowrap;
}

.container {
	width: 100%;
	max-width: variables.$container-width;
	padding: 0 16px;
	margin: 0 auto;
}

.container-auth {
	width: 100%;
	max-width: 530px;
	padding: 0 16px;
	margin: 0 auto;
}

.offset-page {
	padding: 40px 0 60px;

	@media (min-width: variables.$desktop) {
		padding: 90px 0 100px;
	}
}

.offset {
	padding: 28px 0;

	@media (min-width: variables.$desktop) {
		padding: 60px 0;
	}
}

.title {
	margin-bottom: 32px;
	text-transform: uppercase;

	@media (min-width: variables.$desktop) {
		margin-bottom: 40px;
	}
}

.empty-template {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;

	&__inner {
		padding: 32px 16px;
		background-color: variables.$color-vue-bg;
		border-radius: 8px;
		text-align: center;
	}

	&__title {
		margin-bottom: 24px;
	}

	&__error {
		margin-bottom: 12px;
	}
}
