.user-content {
	h2,
	h3 {
		margin-top: 24px;
		margin-bottom: 16px;
		font-family: $font;
		font-weight: 450;
		font-size: 20px;
		line-height: 1.3;

		@media (min-width: $desktop) {
			margin-top: 32px;
			font-size: 24px;
		}
	}

	p {
		margin-bottom: 8px;
		font-family: $font;
		font-weight: 400;
		line-height: 1.3;
		font-size: 16px;

		@media (min-width: $desktop) {
			margin-bottom: 12px;
			font-size: 18px;
		}
	}

	span {
		display: inline-block;
		margin-bottom: 4px;
		font-family: $font;
		font-weight: 400;
		line-height: 1.3;
		font-size: 16px;

		@media (min-width: $desktop) {
			margin-bottom: 8px;
			font-size: 18px;
		}
	}

	ul,
	ol {
		margin-bottom: 8px;
		font-family: $font;
		font-weight: 400;
		line-height: 1.3;
		font-size: 16px;

		@media (min-width: $desktop) {
			margin-bottom: 12px;
			font-size: 18px;
		}

		li {
			margin-bottom: 4px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		img {
			margin-top: 12px;
		}
	}

	ul {
		margin-bottom: 12px;
		list-style: disc;
		padding-left: 22px;
	}

	ol {
		list-style: numeric;
		padding-left: 19px;
	}

	img {
		margin-bottom: 24px;
		max-height: 400px;
		height: auto;
		width: 100%;
		border-radius: 8px;
	}

	table,
	tr {
		width: 100%;
	}

	td {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		span {
			&:first-child {
				display: flex;
				flex-grow: 1;

				&::after {
					content: '';
					display: flex;
					height: 16px;
					flex-grow: 1;
					padding: 0 12px;
					border-bottom: 1px dashed $color-gray-medium;
					margin: 0 8px;

					@media (min-width: $desktop) {
						height: 19px;
					}
				}
			}
		}
	}
}
